.navbar{
    background: rgb(30, 30, 30);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    z-index: 3;
}
.menuitem{
    cursor: pointer;
    margin: 1rem;
}
.menuitem:hover{
    color: yellow;
    padding-bottom: 1rem;
    border-bottom: solid 1px yellow;
}
.contact{
    background: white;
    color: black;
    padding: 1rem 2rem;
    border-radius: 2rem;
}
.myimg{
    object-fit: cover;
}
.active{
    color: yellow;
    border-bottom: solid 2px yellow;
    padding-bottom: 0.5rem;
}
